@using TripPlanner.Client.Enums
@using TripPlanner.Client.Models
@attribute [Route(PageRoutes.TripsList)]
@rendermode InteractiveAuto

<h3>Viagens</h3>

<RadzenButton Click="@AddTrip">Adicionar Viagem</RadzenButton>

<RadzenDataGrid Data="@trips">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Trip.Origin)" Title="Origem" />
        <RadzenDataGridColumn Property="@nameof(Trip.Destination)" Title="Destino" />
        <RadzenDataGridColumn Property="@nameof(Trip.TypeTransport)" Title="Transporte" />
        <RadzenDataGridColumn Property="@nameof(Trip.Time)" Title="Tempo" />
        <RadzenDataGridColumn Property="@nameof(Trip.Price)" Title="Preco" />
        <RadzenDataGridColumn Property="@nameof(Trip.Emissions)" Title="Emissoes" />
        <RadzenDataGridColumn Context="trip" Width="150px" Title="Ações">
            <Template Context="trip">
                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Secondary"
                              Size="ButtonSize.Medium"
                              Click="@(() => EditTrip(trip))" />
                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Size="ButtonSize.Medium"
                              Click="@(() => DeleteTrip(trip))" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>