@using TripPlanner.Client.Enums
@using TripPlanner.Client.Models
@using static TripPlanner.Client.Enums.Enums
@attribute [Route(PageRoutes.TripsCreate)]
@attribute [Route($"{PageRoutes.TripsEdit}/{{Id}}")]
@rendermode InteractiveAuto

<h3>Viagem</h3>

<RadzenTemplateForm TItem="@Trip" Data="@trip" Submit="@OnSubmit">
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenFormField Text="Origem">
            <RadzenDropDown Data="@cities" @bind-Value="@trip.Origin" TValue="string" ValueProperty="Name" TextProperty="Name" />
        </RadzenFormField>
        <RadzenFormField Text="Destino">
            <RadzenDropDown Data="@cities" @bind-Value="@trip.Destination" TValue="string" ValueProperty="Name" TextProperty="Name" />
        </RadzenFormField>
        <RadzenFormField Text="Transporte">
            <RadzenDropDown Data="Enum.GetNames(typeof(TypeTransport))" @bind-Value="@trip.TypeTransport" />
        </RadzenFormField>
        <RadzenFormField Text="Tempo">
            <RadzenNumeric @bind-Value="@trip.Time" />
        </RadzenFormField>
        <RadzenFormField Text="Preco">
            <RadzenNumeric @bind-Value="@trip.Price" />
        </RadzenFormField>
        <RadzenFormField Text="Emissoes">
            <RadzenNumeric @bind-Value="@trip.Emissions" />
        </RadzenFormField>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenButton ButtonType="@ButtonType.Submit" Text="Submeter" />
    </RadzenRow>
</RadzenTemplateForm>