@using TripPlanner.Client.Enums
@using TripPlanner.Client.Models
@attribute [Route(PageRoutes.CitiesList)]
@rendermode InteractiveAuto

<h3>Cidades</h3>

<RadzenButton Click="@AddCity">Adicionar Cidade</RadzenButton>

<RadzenDataGrid Data="@cities" @ref="Grid">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(City.Name)" Title="Nome" />
        <RadzenDataGridColumn Context="city" Width="150px" Title="Ações">
            <Template Context="city">
                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Secondary"
                              Size="ButtonSize.Medium"
                              Click="@(() => EditCity(city))" />
                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Size="ButtonSize.Medium"
                              Click="@(() => DeleteCity(city))" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid> 