@using TripPlanner.Client.Models
@using static TripPlanner.Client.Enums.Enums
@if(optimization == nameof(OptimizeField.Tempo)) {
    <label>Tempo: @time</label>
}else if(optimization == nameof(OptimizeField.Custo)) {
    <label>Custo: @value €</label>
} else if (optimization == nameof(OptimizeField.Emissao)) {
    <label>Emissoes: @value kg/CO2</label>
}
<br />
<RadzenLabel Text="Todas as Viagens" />
<RadzenDataGrid Data="@trips">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Trip.Origin)" Title="Origem" />
        <RadzenDataGridColumn Property="@nameof(Trip.Destination)" Title="Destino" />
        <RadzenDataGridColumn Property="@nameof(Trip.TypeTransport)" Title="Transporte" />
        <RadzenDataGridColumn Property="@nameof(Trip.Time)" Title="Tempo" />
        <RadzenDataGridColumn Property="@nameof(Trip.Price)" Title="Preco" />
        <RadzenDataGridColumn Property="@nameof(Trip.Emissions)" Title="Emissoes" />
    </Columns>
</RadzenDataGrid>